<h1>Rick And Morty Characters</h1>
<div class="form-container" (submit)="filter($event)">
    <form>
        <input type="text" placeholder="Filter" name="filter" [(ngModel)]="filterValue">
        <button type="submit">Search</button>
        <button class="contrast" (click)="reset()" type="reset">Reset</button>
        <button class="contrast" (click)="randomSort()" type="button">Sort randomly</button>
        <label for="toggleHighlight">
            <input type="checkbox" name="toggleHighlight" (change)="toggleHighlightFamily($event.target.checked)" id="toggleHighlight">
            Highlight Smith Family
        </label>
    </form>
</div>

<h2 *ngIf="!characters.length; else hasCharacters">No character matches this input</h2>
<ng-template #hasCharacters>
    <ul>
        <li *ngFor="let character of characters; index as i">
            <article [ngStyle]="{backgroundColor: getBgColor(character)}">
                <h3>{{i + 1}}. {{character.name}}</h3>
                <h4>Specie: {{character.species}}</h4>
                <h4>Status: {{character.status}}</h4>
                <img [src]="character.image" [alt]="character.name">
            </article>
        </li>
    </ul>
</ng-template>

