h1 {
    font-size: 72px;
    background: -webkit-linear-gradient(#eee, rgb(79, 179, 92));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;

    li {

        article {
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: space-evenly;
        }

        h3 {
            background: -webkit-linear-gradient(#eee, rgb(79, 179, 92));
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }

    }
}

li {
    list-style: none;
}

article {
    transition-duration: .3s;
    pointer-events: auto;
    transition-property: opacity;
}




ul {
    &:has(article:hover)>li:not(:has(article:hover))>article {
        opacity: .1;
    }
}

label[for="toggleHighlight"] {
    text-align: center;
}